*{
  margin:0;
  padding:0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
.sidebar {
  color: #fff;
  margin: 30px;
}

/* App.css */

.app-container {
  display: flex;
margin: 0px;
padding: 0px;
}

.main-content {
  flex: 1;
  padding: 20px;
  height: min-content;
}

.search {
  margin-bottom: 20px;
}

/* Non-active menu item text color */
.ant-menu-light .ant-menu-item,
.ant-menu-light .ant-menu-submenu-title {
  color: #65558f;
}

/* Active menu item background color and text color */
.ant-menu-light .ant-menu-item-selected {
  background-color: #65558f !important;
  color: white !important;
}

/* Menu item hover text color */
.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-submenu-title:hover {
  color: #65558f;
}

/* Example: Adjusting icon sizes */
.ant-menu-item .anticon {
  font-size: 24px; /* Adjust size as needed */
  color: #65558f; /* Default icon color */
}

/* Example: Active icon color */
.ant-menu-item-selected .anticon {
  color: white; /* Active icon color */
}
